<style>
  .online:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    top: -8px;
    right: -8px; 
  }
</style>

<page-header></page-header>
<!-- <div class="ui link grid cards items" style="margin: 10px 30px">
  <div class="card two wide computer four wide tablet column" ng-repeat="user in users track by $index" ng-click="openFriendProfile(user)">
    <div ng-class="{'online': user.online}" class="image tiny">
      <img ng-src="{{user.avatar}}">
    </div>
    <div class="content">
      <div class="header">{{user.name}}</div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        {{user.email}}
      </div>
    </div>
    <div class="extra content">
      
    </div>
  </div>
</div> -->

<div class="ui items" style="margin: 10px 30px">
  <div class="item" ng-repeat="user in users track by $index" ng-click="openFriendProfile(user)">
    <a class="ui tiny image">
      <img ng-src="{{user.avatar}}">
    </a>
    <div class="content">
      <a class="header">{{user.firstname}} {{user.lastname}}</a>
      <div class="description">
        <p>{{user.info}}</p>
      </div>
    </div>
  </div>
  